language: java

jdk:
  - oraclejdk7
  - openjdk7

notifications:
  email: false

script: "mvn clean verify -pl '!org.pacesys.openstack4j.connectors:openstack4j-http-connector,!org.pacesys.openstack4j.connectors:openstack4j-jersey2,!org.pacesys:it-jersey2'"

# whitelist
branches:
  only:
    - master

# disable sudo to ensure that this build runs on the travis container-based
# infrastructure. This should prevent the buffer overflow from
# https://github.com/travis-ci/travis-ci/issues/5227
sudo: false
