language: java

jdk:
  - oraclejdk8

notifications:
  email: false

script: "mvn verify"

# whitelist
branches:
  only:
    - master

# disable sudo to ensure that this build runs on the travis container-based
# infrastructure. This should prevent the buffer overflow from
# https://github.com/travis-ci/travis-ci/issues/5227
sudo: false
